<div class="row top-block">
  <div class="col-10">
    <h3>Groups list</h3>
  </div>
  <div class="col-2 text-right">
  <app-add-group [addCallBack]="fnAddGroup"></app-add-group>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-word-group (shouldDeleteGroup)="deleteGroup($event)"
                    (wordCheck)="wordChange()"
      *ngFor="let groupEl of groups"
      [group]="groupEl"></app-word-group>
  </div>
</div>
<app-chosen-words [words]="checkedWords" *ngIf="checkedWords.length"></app-chosen-words>
