
.tag {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font-size: 13px;
  font-weight: 600;
  height: 26px;
  line-height: 24px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  background-color: #d7d7d7;
}
.tag .close {
  float: left;
  font-size: 1.3rem;
}
.tag .close:focus {
  outline: none;
}
