<div class="text-center wrap">
  <div class="form-signin">
    <form *ngIf="!isEmailSent" [formGroup]="forgotForm" novalidate (ngSubmit)="submit()">
        <h1 class="h3 mb-3 font-weight-normal">Email address</h1>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" id="inputEmail" class="form-control"
                 placeholder="Email"
                 name="email"
                 formControlName="email">
          <p class="text-danger"
             *ngIf="forgotForm.controls['email'].invalid && forgotForm.controls['email'].touched">
            Required!
          </p>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block"
                  type="submit"
                  [disabled]="forgotForm.invalid">Send email</button>
        </div>
    </form>
    <div *ngIf="isEmailSent">Link for reset password have been sent on you email!</div>
    <div class="mt-2 mb-1 text-muted"><a href="" routerLink="/register">Register...</a></div>
    <div class="mt-2 mb-1 text-muted"><a href="" routerLink="/login">Login...</a></div>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </div>
</div>
